TopicText {   
    width: 80;
    text-align: left;
    border: blank;
}

TopicText:hover {   
    border: wide $secondary;
}

TopicText:focus {   
    border: wide $accent;
}


.selected {
    background: $success-muted;
    color: $text;
}

#intro {
    dock: top;
    padding: 1;
    width: 100%;
    background: $boost;
}

#topics {
    width: 100%;
    background: $boost;
}
