TopicText {   
    width: 80;
    text-align: left;
}

.selected {
    background: $success-muted;
    color: $text;
}

#intro {
    dock: top;
    padding: 1;
    width: 100%;
    background: $boost;
}

#questions {
    padding: 2;
    width: 100%;
    background: $boost;
}
